
.popupBackgroundClass{
  background: rgba(0,0,0,.5);
  height: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s ease;
}
.popupContentClass{
  margin: auto;
  height: auto;
  overflow: hidden;
  background: white;
  margin-top: 50px;
  transition: all .4s ease;
  border-radius: 20px;
  padding: 20px;
}
.hide{ 
  display:none;
}
.zeroSize{
  height: 0px;
  width: 0px;
}
.closeButtonImage{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
